/*ALL*/
* 
{
    box-sizing: border-box;
}

body
{
    margin: 0;
}
.container
{
    width: 1940px;
    max-width: 90%;
    margin: 0 auto;
}

h1, h2, h3, p, a
{
    font-family: 'Raleway', sans-serif;
}

a
{
    text-decoration: none;
    color: black;
}

img
{
    max-width: 100%;
}

/*FIN ALL*/

/*HEADER*/

header .container
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 70px;
}

.logo img
{
    width: 120px;
    margin-left: 15px;
}

.nav ul    
{
    display: flex;
    justify-content: flex-end;
    padding-left: 0;
}

.nav li
{
    list-style-type: none;
}

nav a 
{
    padding-top: 83px;
    font-size: 20px;
    font-weight: 500;
}

nav a.active
{
    border-top: solid 3px #0065fc;
    padding-right: 30px;
    padding-left: 30px;
    margin-right: 80px;
}

nav a:hover
{
    border-top: solid 3px #0065fc;
    color: #0065fc;
}


/*FIN HEADER*/

/*DÉBUT SECTION 1*/
.topsection 
{
    margin-top: 30px;
    margin-bottom: 30px;
}

#search  
{
    display: flex;
    justify-content: left;
    align-items: center;
}

.location
{
    font-size: 25px;
    padding-top: calc(50% - 12.5px); /*Pour placer la font de localisation bien au centre, en prenant en compte sa taille en px*/
}

.locationbackground
{
    background-color: #f2f2f2;
    width: 65px;
    height: 60px;
    border-top-left-radius:20px;
    border-bottom-left-radius: 20px;
    text-align: center;
}

input /*Formulaire*/
{
    height: 60px;
    width: 310px;
    border: solid 2px;
    border-color: #f2f2f2;
}

.search_data  /*Partie "active" du formulaire*/
{
    font-size: 20px;
    font-weight: 700;
    padding-left: 10px;
}

::placeholder
{
    color: black;
    font-size: 20px;
}
.rechercher /*Bouton Rechercher*/
{
    width: 175px;
    background-color: #0065fc;
    border: none;
    height: 60px;
    border-top-right-radius:20px;
    border-bottom-right-radius: 20px;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
}

.section0
{
    margin-top: 50px;
}

.section0 p
{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin-left: 15px;
}

#filtres
{
    margin-bottom: 50px;
}

.filtres
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.filtres a
{
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 20px;
}


.eco
{
    border: solid 3px #f2f2f2;
    border-radius: 50px;
    height: 60px;
    margin-right: 30px;
    transition: 0.7s;
}

.eco a
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.eco:hover
{
    background-color: #deebff;
    border: solid 3px #deebff;
    border-radius: 50px;
    height: 60px;
    transition: 0.7s;
}

.eco p
{
    padding-right: 30px;
}

.eco i
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #deebff;
    padding: 17px 17px;
    border-radius: 50%;
    text-align: center;
    margin-top: -3px;
    margin-left: -2px;
    font-size: 25px;
    color: #0065fc;
}

.familial   
{
    border: solid 3px #f2f2f2;
    border-radius: 50px;
    height: 60px;
    margin-right: 30px;  
    transition: 0.7s;  
}

.familial a
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.familial i  
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #deebff;
    padding: 17px 21px;
    border-radius: 50%;
    text-align: center;
    margin-top: -3px;
    margin-left: -2px;
    font-size: 25px;
    color: #0065fc;
}

.familial p
{
    padding-right: 30px;
}

.familial:hover
{
    background-color: #deebff;
    border: solid 3px #deebff;
    border-radius: 50px;
    height: 60px;
    transition: 0.7s;
}

.romantique
{
    border: solid 3px #f2f2f2;
    border-radius: 50px;
    height: 60px;
    margin-right: 30px;   
    transition: 0.7s;
}

.romantique a
{
    display: flex;
    justify-content: flex-start;
    align-items: center; 
}

.romantique i
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #deebff;
    padding: 17px 17px;
    border-radius: 50%;
    text-align: center;
    margin-top: -3px;
    margin-left: -2px;
    font-size: 25px;
    color: #0065fc;
}

.romantique p
{
    padding-right: 15px;
}

.romantique:hover
{
    background-color: #deebff;
    border: solid 3px #deebff;
    border-radius: 50px;
    height: 60px;
    transition: 0.7s;
}

.animaux    
{
    border: solid 3px #f2f2f2;
    border-radius: 50px;
    height: 60px;
    transition: 0.7s;
}


.animaux a
{
    display: flex;
    justify-content: flex-start;
    align-items: center; 
}

.animaux i
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #deebff;
    padding: 17px 17px;
    border-radius: 50%;
    text-align: center;
    margin-top: -3px;
    margin-left: -2px;
    font-size: 25px;
    color: #0065fc;
}

.animaux p {
    padding-right: 15px;
}

.animaux:hover
{
    background-color: #deebff;
    border: solid 3px #deebff;
    border-radius: 50px;
    height: 60px;
}

.info
{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 60px;
    font-family: 'Raleway', sans-serif;
    font-weight: 400;
}

.result 
{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.focus
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 2px #f2f2f2;
    border-radius: 50%;
    height: 10px;
    width: 10px;
    margin-right: 15px;
    color: #0065fc;
    padding: 10px 10px;
}

.section1
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.section1 img
{
    width: 315px;
    height: 190px;
    object-fit: cover;
}

.hebergements
{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.hebergements p
{
    font-weight: 400;
}

.column {
    height: 830px;
}

.background 
{
    background-color: #f2f2f2;
    border-radius: 30px;
}

.column
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 50px;
    margin-right: 60px;
}

.column h2
{
    padding-top: 65px;
}

.sixpack
{
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: center;
    height: 80%;
}


.lien {
    height: 40%;
    width: 30%;
    background-color: #fff;
    border-radius: 30px;
    margin-bottom: 30px;
    margin-right: 25px; 
    border: solid 8px #fff;
    /*offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 3px 3px 10px 3px #e8e8e8;
}

.lien img
{
    width: 100%;
    height: 60%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.lien h3, p {
    margin: 10px auto;
    padding-left: 10px;
}

.plus   
{
    margin-bottom: 55px;
}

.plus a {
    font-size: 20px;
    font-weight: 700;
}
.populaire
{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
    padding-right: 20px;
    height: 830px;
}

.fav    
{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 30px;
    padding-right: 35px;
    margin-bottom: 15px;
}

.fav i
{
    font-size: 25px;
}

.aside
{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-bottom: 20px;
    
}

.aside img
{
    width: 45%;
    height: 100%;
    margin-bottom: 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.aside .lien
{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 190px;
    border: solid 7px #fff;
    border-radius: 20px;
    /*offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 3px 3px 10px 3px #e8e8e8;
    background-color: #fff;
}

.aside:last-child
{
    margin-bottom: 70px;
}

.lien i
{
    color: #0065fc;
}

.quatrestar i:last-child
{
    color: #f2f2f2;
}

.troisstar i:last-child
{
    color: #f2f2f2;
}

.troisstar i:nth-of-type(4)
{
    color: #f2f2f2;
}

.desc
{
    flex: 1 ;
    padding-left: 25px;
}

.desc h3
{
    margin-top: 10px;
    margin-bottom: 5px;
    padding-right: 50px;
    font-size: 20px;
    font-weight: 700;
}

.desc p
{
    margin-top: 0;
}


/*SECTION2*/

.section2   
{
    margin-top: 50px;
}

.activite
{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}

.activite img
{
    width: 100%;
    height: 85%;
    object-fit: cover;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.col
{
    width: 25%;
}

.col h3
{
    padding-left: 10px;
    padding-top: 20px;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}

.twopack
{
    width: 20%;
    padding-right: 10px;
    padding-left: 10px;
}
.colonne
{
    box-shadow: 3px 3px 10px 3px #e8e8e8;
    border-radius: 20px;
    display: block;
    height: 542px;
}

.double
{
    box-shadow: 3px 3px 10px 3px #e8e8e8;
    border-radius: 20px;
    display: block;
    height: 250px;
    margin-bottom: 40px;
}

.double a
{
    display: flex;
    flex-direction: column;
}

.double h3
{
    flex: 1;
    padding-top: 30px;
    font-size: 20px;
}

.double img
{
    height: 170px;
}

/*FOOTER*/

footer
{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
    margin-top: 60px;
    background-color: #f2f2f2;
}

.bloc
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-top: 30px;
    margin-right: 300px;
}

.bloc a 
{
    font-weight: 400;
    padding-bottom: 25px;
}

.bloc h3
{
    margin-bottom: 30px;
}

.apropos
{
    margin-top: 0;
    margin-left: 60px;
}

.qualite
{
    margin-right: 370px;
}

/*FIN DU FOOTER*/

/* RESPONSIVE */
/* BREAKPOINTS : 992 px pour les écrans d’ordinateurs et 768 px pour les tablettes, et
tout ce qui est en dessous de 768 pour les téléphones portables.*/



@media screen and (max-width: 992px) /*Pour les tablettes & mobiles*/
{
    header .container
    {
        width: 992px;
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .logo img {
        margin: 0 auto;
        margin-top: 25px;
        padding-left: 30px;
        width: 200px;
    }

    .nav {
        width: 100%;
    }

    .nav ul {
        padding-left: 0;
        margin-right: 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    .nav li {
        padding-right: 0;
        width: 50%;
        position: relative;
        display: flex;
        justify-content: center;
    }

    .nav a {
        padding: 0;
    }

    nav a.active {
        color: #0065fc;
        font-size: 20px;
        font-weight: 500;
        border-top: none;
    }

    nav a:hover
    {
        display: none;
    }

    nav a.active::after {
        content: "";
        position: absolute;
        bottom: -25px;
        left: 0;
        width: 100%;
        height: 4px;
        background-color: #0065fc;
    }

    nav a.inactive {
        font-size: 20px;
        font-weight: 500;
    }

    nav a.inactive::after {
        content: "";
        position: absolute;
        bottom: -25px;
        right: 0;
        width: 100%;
        height: 4px;
        background-color: #e8e8e8;
    }

    .topdiv h1 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .topdiv p {
        margin: 0 auto;
        padding: 0;
        font-size: 23px;
    }

    .section0 p {
        margin: 0 auto;
    }
    
    .filtres div {
        margin-bottom: 20px;
        width: 40%;
    }
    
    .filtres {
            flex-wrap: wrap;
    }

    .filtres p {
        display: inline-block;
        max-width: 90%;
    }

    .p500 p {
        font-weight: 400;
    }

    .section1 .container {
        max-width: 100%;
    }

    .hebergements {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }

    .background.populaire {
        margin: 0 auto;
        width: 100%;
        border-radius: 0%;
    }

    .column {
        background-color: #fff;
        margin: 0 auto;
        width: 100%;
        height: inherit;
        padding-left: 5%;
        padding-right: 5%;
    }

    .sixpack {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .sixpack a {
        width: 100%;
    }

    .lien {
        height: 280px;
        margin-right: 0;
    }

    .activite {
        flex-flow: column nowrap;
    }

    .col.twopack {
        padding: 0;
    }

    .col {
        width: 100%;
        margin-bottom: 25px;
    }

    .col h3 {
        padding-top: 10px;
    }

    .colonne {
        height: 350px;
    }

    .double {
        height: 350px;
    }

    .double img {
        height: 300px;
    }
    
    footer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-left: 5%;
    }

    .apropos {
        margin: 0;
    }
}

@media screen and (max-width: 480px) {

    .search_data {
        width: 100%;
        padding-left: 20px;
    }

    .location {
        padding-top: 0;
    }

    .locationbackground {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 60px;
    }

    .rechercher {
        text-indent: -9999em;
        background-image: url("img/search.png");
        background-repeat: no-repeat;
        background-size: 25px;
        background-position: center;
        border-radius: 20px;
        min-width: 60px;
        width: 60px;
        margin-left: -15px;
    }

    .filtres {
        justify-content: space-between;
    }

    .filtres div {
        width: inherit;
        margin: 0;
        margin-bottom: 20px;
    }

    .filtres p {
        max-width: inherit;
    }

    .eco p {
        padding-right: 15px;
    }

    .filtres a p {
        font-size: 17px;
    }

    .info {
        margin-top: 25px;
        margin-bottom: 40px;
    }

    .colonne {
        height: 230px;
    }

    .col {
        padding-bottom: 25px;
    }

    .double {
        height: auto;
    }

    .double img {
        height: 170px;
    }

    .double h3 {
        padding-bottom: 10px;
    }
}